STAFF_PASSWORD=Welkom_SMS@2026
STAFF_NAME=Welkom USA Staff
SESSION_SECRET=k7Vq2Nz9Xm4Rb8Yw6Pc3Hs1Jf5Ta0LdE
SESSION_DURATION_MINUTES=480
DRY_RUN=true
SMS_DRY_RUN=true
SHOPIFY_SHOP_DOMAIN=welkom-usa.myshopify.com
SHOPIFY_CLIENT_ID=ebec4a9bd0ba93ceb4336fc33e083cb9
SHOPIFY_CLIENT_SECRET=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
SHOPIFY_ADMIN_ACCESS_TOKEN=
SHOPIFY_API_VERSION=2025-10
TWILIO_ACCOUNT_SID=AC8e11d7d7eada24a34d51fa7bc6b9ba1b
TWILIO_AUTH_TOKEN=6dff21598f14ecef2a41818f0204b7e0
TWILIO_API_KEY_SID=SKba84f3b2d5415b02f2a70ea9333c81f4
TWILIO_API_KEY_SECRET=JRUS0INQ6fUBaCfP46Jyspc0vXUy8TUY
TWILIO_PHONE_NUMBER=+18445642533
TWILIO_FROM_NUMBER=+18445642533
TWILIO_MESSAGING_SERVICE_SID=SKba84f3b2d5415b02f2a70ea9333c81f4
TWILIO_STATUS_CALLBACK_BASE_URL=
MESSAGE_STORAGE_PROVIDER=memory
BLOB_INIT_ENABLED=true
MESSAGE_STORAGE_PROVIDER=netlify-blobs
MAX_SMS_LENGTH=320
